.venv
../.venv
.env
../app/core/.env
__pycache__/
*.pyc
.vscode/
gen_token.py
desktop.ini
desktop* 
../desktop.ini
../docs/desktop.ini
../frontend/android/app/desktop.ini
../frontend/android/app/src/debug/desktop.ini
../frontend/android/app/src/desktop.ini
../frontend/android/app/src/main/desktop.ini
../frontend/android/app/src/main/kotlin/com/desktop.ini
../frontend/android/app/src/main/kotlin/com/example/desktop.ini
../frontend/android/app/src/main/kotlin/com/example/medcore/desktop.ini
../frontend/android/app/src/main/kotlin/desktop.ini
../frontend/android/app/src/main/res/desktop.ini
../frontend/android/app/src/main/res/drawable-v21/desktop.ini
../frontend/android/app/src/main/res/drawable/desktop.ini
../frontend/android/app/src/main/res/mipmap-hdpi/desktop.ini
../frontend/android/app/src/main/res/mipmap-mdpi/desktop.ini
../frontend/android/app/src/main/res/mipmap-xhdpi/desktop.ini
../frontend/android/app/src/main/res/mipmap-xxhdpi/desktop.ini
../frontend/android/app/src/main/res/mipmap-xxxhdpi/desktop.ini
../frontend/android/app/src/main/res/values-night/desktop.ini
../frontend/android/app/src/main/res/values/desktop.ini
../frontend/android/app/src/profile/desktop.ini
../frontend/android/desktop.ini
../frontend/android/gradle/desktop.ini
../frontend/android/gradle/wrapper/desktop.ini
../frontend/assets/desktop.ini
../frontend/assets/icons/desktop.ini
../frontend/desktop.ini
../frontend/ios/Flutter/desktop.ini
../frontend/ios/Runner.xcodeproj/desktop.ini
../frontend/ios/Runner.xcodeproj/project.xcworkspace/desktop.ini
../frontend/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/desktop.ini
../frontend/ios/Runner.xcodeproj/xcshareddata/desktop.ini
../frontend/ios/Runner.xcodeproj/xcshareddata/xcschemes/desktop.ini
../frontend/ios/Runner.xcworkspace/desktop.ini
../frontend/ios/Runner.xcworkspace/xcshareddata/desktop.ini
../frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/desktop.ini
../frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/desktop.ini
../frontend/ios/Runner/Assets.xcassets/desktop.ini
../frontend/ios/Runner/Base.lproj/desktop.ini
../frontend/ios/Runner/desktop.ini
../frontend/ios/RunnerTests/desktop.ini
../frontend/ios/desktop.ini
../frontend/lib/core/desktop.ini
../frontend/lib/core/theme/desktop.ini
../frontend/lib/desktop.ini
../frontend/lib/features/allergies/data/desktop.ini
../frontend/lib/features/allergies/data/models/desktop.ini
../frontend/lib/features/allergies/data/repositories/desktop.ini
../frontend/lib/features/allergies/desktop.ini
../frontend/lib/features/allergies/presentation/desktop.ini
../frontend/lib/features/allergies/presentation/pages/desktop.ini
../frontend/lib/features/allergies/presentation/providers/desktop.ini
../frontend/lib/features/allergies/presentation/widgets/desktop.ini
../frontend/lib/features/desktop.ini
../frontend/lib/features/history/data/desktop.ini
../frontend/lib/features/history/data/models/desktop.ini
../frontend/lib/features/history/desktop.ini
../frontend/lib/features/history/presentation/desktop.ini
../frontend/lib/features/history/presentation/pages/desktop.ini
../frontend/lib/features/home/data/desktop.ini
../frontend/lib/features/home/data/models/desktop.ini
../frontend/lib/features/home/data/repositories/desktop.ini
../frontend/lib/features/home/desktop.ini
../frontend/lib/features/home/presentation/desktop.ini
../frontend/lib/features/home/presentation/pages/desktop.ini
../frontend/lib/features/home/presentation/providers/desktop.ini
../frontend/lib/features/home/presentation/widgets/desktop.ini
../frontend/lib/features/profile/desktop.ini
../frontend/lib/features/profile/presentation/desktop.ini
../frontend/lib/features/profile/presentation/pages/desktop.ini
../frontend/lib/features/reminders/desktop.ini
../frontend/lib/features/reminders/presentation/desktop.ini
../frontend/lib/features/reminders/presentation/pages/desktop.ini
../frontend/lib/features/reminders/presentation/widgets/desktop.ini
../frontend/lib/features/upload/desktop.ini
../frontend/lib/features/upload/presentation/desktop.ini
../frontend/lib/features/upload/presentation/pages/desktop.ini
../frontend/linux/desktop.ini
../frontend/linux/flutter/desktop.ini
../frontend/linux/runner/desktop.ini
../frontend/macos/Flutter/desktop.ini
../frontend/macos/Runner.xcodeproj/desktop.ini
../frontend/macos/Runner.xcodeproj/project.xcworkspace/desktop.ini
../frontend/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/desktop.ini
../frontend/macos/Runner.xcodeproj/xcshareddata/desktop.ini
../frontend/macos/Runner.xcodeproj/xcshareddata/xcschemes/desktop.ini
../frontend/macos/Runner.xcworkspace/desktop.ini
../frontend/macos/Runner.xcworkspace/xcshareddata/desktop.ini
../frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/desktop.ini
../frontend/macos/Runner/Assets.xcassets/desktop.ini
../frontend/macos/Runner/Base.lproj/desktop.ini
../frontend/macos/Runner/Configs/desktop.ini
../frontend/macos/Runner/desktop.ini
../frontend/macos/RunnerTests/desktop.ini
../frontend/macos/desktop.ini
../frontend/test/desktop.ini
../frontend/web/desktop.ini
../frontend/web/icons/desktop.ini
../frontend/windows/desktop.ini
../frontend/windows/flutter/desktop.ini
../frontend/windows/runner/desktop.ini
../frontend/windows/runner/resources/desktop.ini